@model ProjectPC.Models.Category
    
@{
ViewBag.Title = "Browse"; } <h2>Browsing Genre: @Model.CategoryType</h2>
<ul>
    @foreach (var product in Model.Products)
    {
        <li>
            @product.ProductName
        </li>
    }
</ul>